/* Index - FullName */
/* Индекс - Име и Презиме */

/* Good luck */
/* Со среќа */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../image/content_bg.jpg");
    background-size: 60%;
    background-color: #8C6949;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    max-width: 1500px;

}

#search_bar_wrapper {
    background-image: url("../image/search_wrapper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50px;
}

#search_bar {
    background-image: url("../image/search.jpg");
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:400px;
}

#search_box form {
    display: flex;
    align-items: center;
    gap: 5px;
}

#search_box form input {
    background-color: transparent;
    border: none;
    color: white;
}

#searchfield {
    width: 125px;
}

#searchbutton {
    margin-left: 30px;
}

#banner_bar_wrapper {
    background-image: url("../image/banner_wrapper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 160px;
    overflow: hidden;
}

#banner_bar {
    background-image: url("../image/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 160px;
}

#menu_wrapper {
    overflow: hidden;
    background-image: url("../image/menu_wrapper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60px;
}

#menu {
    background-image: url("../image/menu.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 300px;
}

#menu ul {
    list-style: none;
    display: flex;
    gap: 20px;

    align-items: center;
}

#menu ul li {
    padding-right: 10px;
    height: 20px;
    border-right: 1px solid white;
    display: flex;
    align-items: center;
}

.last {
    border-right: none !important;
}

.current {
    text-decoration: underline !important;
    text-decoration-style: dotted !important;
}

#menu ul li a {
    color: white;
    text-decoration: none;
}
.section_one {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.section_one h1 {
    color:yellow;
    margin-bottom:20px;
}
.section_one p {
    width:70% !important;
    color: #E8F3CB !important;
    font-size:22px !important;
}
h2 {
    background-image: url("../image/header_bg.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left:100px;
    height:80px;
    line-height:60px;
    color:yellow;
}

.cleaner_h20 {
    clear:both;
    height:20px;
}
.fl {
    width:50%;
    float:left;
}
#content {
    padding-left: 100px;
}
#content p {
    color:#E3DEB8;
    width:50%;
    margin:10px 0;
}
.fl .section_content > a {
    display: block;
    background-image: url("../image/image_01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid white;
    width: 370px;
    height: 120px;
    margin-bottom: 10px;
}
#content p a {
    color:white;
    text-decoration:none;
}
.section_content ul {
    padding-left:35px;
    list-style-image: url("../image/list_icon.png");
}
.section_content ul li {
    margin-bottom:20px;
}
.section_content ul li a{
    color:black;
    text-decoration:none;
}
.fr {
    width:50%;
    float:right;
}
.fr img {
    border:2px solid white;
}
.cleaner {
    clear: both;
    height: 0;
}

.cleaner_h20 {
    clear: both;
    height: 20px;
}

.cleaner_h30 {
    clear: both;
    height: 30px;
}

.section_w950 {
    width: 100%;
    clear: both;
    padding-left: 100px;
}

.image_wrapper_02 {
    background-image: url("../image/gallery_img_frame.png");
    height:192px;
    width:192px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
}

.image_wrapper_02 a {
    display: block;
    height: 160px;
    width: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 18px 0 0 11px;
}

.image_wrapper_02:nth-child(1) a {
    background-image: url("../image/image_02.jpg");
}
.image_wrapper_02:nth-child(2) a {
    background-image: url("../image/image_03.jpg");
}
.image_wrapper_02:nth-child(3) a {
    background-image: url("../image/image_04.jpg");
}
.image_wrapper_02:nth-child(4) a {
    background-image: url("../image/image_05.jpg");
}
.button_01 {
    clear: both;
    text-align: center;
    padding-right: 20px;
    background-image:url("../image/read_more.png");
    height: 37px;
    width: 164px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left:80px;
    float: right;
    margin:20px 500px 20px 0;
}
.button_01 a {
    color:yellow;
    text-decoration: none;
    font-weight:bolder;
}

#footer{
    display:flex;
    height:100px;
    justify-content:center;
    align-items:center;
    background-image: url("../image/footer_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: #E3DEB8;
    gap:20px;
}
#footer a {
    color:white;
    text-decoration:none;
}