.navContainer{
    display: flex;
    justify-content:center;
    gap:20px;
    background:black;
    height:40px;
    align-items: center;
}
.navContainer > a {
    color:#647060;
    text-decoration: none;
    font-size:14px;
}
.navContainer > a:hover {
    color:white;
    text-decoration:underline;
}
body {
    margin:0;
}