nav {
    background: black;
    margin: 0;
    height:50px;
    display:flex;
    justify-content: center;
    align-items:center;
    border-bottom: 2px solid rgba(60, 60, 60);
}
nav > a {
    margin: 0 25px;
    color:darkgray;
    text-decoration: none;
    font-size:15px;
}
nav > a:hover{
    text-decoration: underline;
    color:white;
}
body {
    margin:0;
}